body{
    background-color: #000000;
    color: #ffffff;
}

#logo{
    max-height: 30px;
}

.carousel-item{
    object-fit: cover;
    margin-top: -11%;
}

.c3{
    object-fit: cover;
    margin-bottom: -5%;
    margin-top: -6%;
}

hr{
    background-color: #3a788b;
    border-radius: 10%;
    height: 1px;
}

.card-img-top{
    object-fit: cover;
    height: 220px;
}

a{
    text-decoration: none;
    color: inherit; /* hereda el color del elemento padre */
}

.opacity{
    opacity: 0.7;
    transition: 500ms ease-in-out;
}

.opacity:hover{
    opacity: 1;
    border-color:aquamarine;
    bottom: 2px;
}